* {
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #1f2039;
  font-size: 1em;
}

a {
  color: #242424;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

em {
  color: #a5b4fc;
  font-size: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: "Montserrat", sans-serif;
}

h2 {
  color: #f9f8ff;
}

p,
li {
  font-size: 1.1em;
  font-family: "Manrope", sans-serif;
  color: #f9f8ff;
}

header,
footer {
  background-color: white;
  padding: 20px 50px;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
}

.cta:hover {
  background: linear-gradient(#696484, #8788ba);
  text-decoration: none;
}

.lien-icone:hover {
  opacity: 0.5;
}

.about-content {
  border-right: 1px solid #e886b5;
  border-bottom: 1px solid #e886b5;
  padding: 50px;
}

.about-content h2 {
  margin-top: 30px;
}

.about-content ul {
  margin-top: 30px;
}

section {
  padding: 80px;
}

.about-main {
  width: 50%;
  margin: auto;
}
