body {
    font-family: 'Manrope', sans-serif;
    background-color: #1F2039;
    font-size: 1em;
}

a {
    color: #242424;
    text-decoration: none;
}

em {
    color: #A5B4FC;
    font-size: normal;
}

h1 {
    font-size: 3.5em;
    color:#A5B4FC;
    font-family: "Montserrat", sans-serif;
}

h2 {
    color: #F9F8FF;
}

p,
li {
    font-size: 1.1em;
    font-family: "Manrope", sans-serif;
    color: #F9F8FF;
}

.header,
.footer {
    background-color: white;
}

.cta {
  background: linear-gradient(#8e86b5, #acaeed);
  color: white;
  border-radius: 50px;
}

.about-content {
    border-right: 1px solid #e886b5;
    border-bottom: 1px solid #e886b5;
}